/* colors from light to dark:

FFD8AA
D4A46A
AA7639
804F15
552E00

*/


html {
	background-color: #804F15;
	font-family: "Lucida Console", Monaco, monospace;
	color: #552E00;
	margin: 70px;
    
}


header {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;	
	background-image: url(cartoonbread);
    background-repeat: repeat-x;
    background-position: right;
    background-origin: content-box;

}

article {
	margin: 10px;
	border: solid 5px #AA7639;
	padding: 7px 7px 7px 7px;
	width: 70%;



}

img {
	border-radius: 8px;

}

header h2 {
	font-size: 130%;
	color: #804F15;
    background-color: bisque;
}

h1 {
	font-size: 250%;
	text-decoration: underline;
	background-color: #D4A46A;
	opacity: 0.9;
	
	


}

header, footer, nav, main {

	border: solid 2px #552E00;;
	padding: 10px 10px 10px 10px;
	background-color: #FFD8AA;
}

main {
	margin: 5px;
	padding: 5px 5px 5px 5px;
    background-image: url(sidebreadmaybe.png);
    background-position: right;
    background-repeat: repeat-y;


}

footer {
	font-size: 50%
          

}

main h2 {
	background-color: #D4A46A;
	opacity: 0.6;

}

li {
   border: solid 1px #552E00;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 15px;
    border-radius: 40px;
    
}

ul li {
    background-color: burlywood;
    margin: 5px;
    
    
}

ul {
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
        list-style-image: url(verysmallroll.png);
        width: 70%;
}

a {
    color: saddlebrown;
}


