html {
	background-color: pink;
	

}

h1 {
	color: #990099;
	text-align: center;
	border: solid 3px rgba(101, 93, 255, 0.3);
	margin: 20px;
	height: 20%;
	padding: 10px 10px 10px 10px;
	width: 70%;
	



}
