/*
*Create a new file called "main.css"
*Add a link element to the head of your index.html file
<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font and text of each element.
*Use at least 20 different properties. Include a list of these 20 at the TOP of your main.css file as a css comment.
*Use at least 4 different units to set sizes of various aspects of your webpage.
*Go learn something from 2 classmates; add a comment to your main.css file that describes what you learned.
*View your index.html in the development server.
*Validate your index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
*Upload to the production server with sftp.
*View your index.html in the production server.*/

/*From Alice, I learned that the opacity command actually works, and works for background images. That allowed me to make some of my background images a bit transparent. Young taught me to use the transform command and to translate my h2.*/

html { 
	border: solid 3px #99FFCC;
	background-image: url("http://www.domgroup.no/wp-content/themes/DOM/images/bg-gradient.jpg");
	cursor: crosshair;
	direction: ltr;
	
	
	
}
	

h1 { 
	padding-top: 0.5em;
	font-family: "Times New Roman", georgia, serif;
	color: #8D8DFD;
	word-spacing: 15px;
	text-align: center;
	text-shadow: 4px 3px rgba(128, 3, 244, 0.2);
	background-color: rgba(66, 228, 223, 0.3);
	padding-bottom: 0.5em;
	border: dotted 4px rgba(24, 213, 196, 0.2);
	background-image: url(http://cdn.wallpapersafari.com/35/6/IzH7Uj.jpg);
	opacity: 0.7;
	

	


}

h2 {
	color: #9999ff;
	text-decoration: underline;
	font-family: "Courier New", courier, monospace;
	border: dotted 4px rgba(24, 213, 196, 0.2);
	background-image: url(http://wallpapercave.com/wp/fYLZh5Y.png);
	opacity: 0.7;
	width: 20%;
	transform: translate(60%, 20%);
	text-align: center;
	
	
	

}

p {

	line-height: 120%;
	font-family: georgia, serif;
	word-spacing: 1px;
	letter-spacing: 1px;
	width: 70%;
	font-weight: normal;
	border: solid 2px #99ccff;
	background-image: url(http://wallpapercave.com/wp/fYLZh5Y.png);
	opacity: 0.7;
	color:rgba(110, 96, 222, 0.9);
	text-indent: 1cm;
	

	

}

main {

	background-image: url("http://pngimg.com/upload/small/camomile_PNG666.png");
	background-repeat: no-repeat;
	background-position: right;
	border-left: solid 3px #CCCCFF;
	border-top: solid 3px #9999ff;
	border-right: solid 3px #E6E6FF;
	border-bottom: solid 3px #B3B3FF;
	padding-bottom: 30px;
	margin-bottom: 20px;
	margin-left: 20px;
	padding-left: 5px;
	margin-right: 20px;
	padding-right: 5px;
	

	
	
	

}

footer { 
	background-color:#DFFFF8;
	outline: #BB99FF dotted thin;
	padding: 5mm 5mm 5mm 5mm;
	font-family: "Arial Black", gadget, sans-serif;
	color: #5353c6;
	font-weight: bold;
	direction: rtl;
	
	
}


ul {
	width: 70%;
	color:rgba(110, 96, 222, 0.9);
	border: solid 2px #99ccff;

}



	
