html {

	background-color: pink;


}
body {
	margin-top: 40px;	
	border-left: dotted 40px red;
	
}

h1 {
	background-color: lightblue;
	color: red;
	text-decoration: underline;

	font-size: 55px;
	border-bottom: solid 5px black;
	margin-bottom: 40px;
	
}
	
header {
	background-color: lightblue;
	border-bottom: dotted 40px red;

}

p {
	color: blue;
	border-top: dotted 2px green;
	padding-top: 0.68%;


}

main {
	border: 5px groove yellow;
}


h2 {
	background-color: blue;
	color: white;

}
h3 {
	background-color: blue;
	color: white;
}

footer {
	color: blue;
	border-top: dotted 2px green;
	border-bottom: solid 2px black;
	margin-top: 30px;
	font-size: 24px;
	width: 50%;
	padding-bottom: 20px;
	border-right: solid 800px black;
	
}
h4 {
	border-left: 60px groove red;
	border-right: 1230px groove red;
	width: 15%;


}





